@switch (documentExtention)
{
    case FileExtensions.PDF:
        @RenderPDFViewer((DocumentUri, contentType))
        ;
        break;
    case FileExtensions.TXT:
    case FileExtensions.JSON:
        @RenderTextViewer((DocumentUri, contentType))
        ;
        break;
    default:
        @RenderUnknowViewer(documentExtention)
        ;
        break;
}

@code {
    [Parameter]
    public string? DocumentUri { get; set; }

    private string documentExtention = FileExtensions.UNKNOWN;
    private string contentType = string.Empty;

    protected override void OnParametersSet()
    {
        documentExtention = DocumentUri.GetFileExtension();
        contentType = FileExtensions.GetContentTypeForFileExtension(documentExtention);
    }

    private RenderFragment<(string?, string)> RenderPDFViewer = ((string? DocumentUri, string ContentType) data) => __builder =>
    {
        <iframe class="file-container" src="@data.DocumentUri" type="@data.ContentType">
            This browser does not support PDFs. Please download the file to view it: <a href="@data.ContentType">Download PDF</a>"
        </iframe>
    };

    private RenderFragment<(string?, string)> RenderTextViewer = ((string? DocumentUri, string ContentType) data) => __builder =>
    {
        <iframe class="file-container" src="@data.DocumentUri" type="@data.ContentType">
            This browser does not support Text files. Please download the file to view it: <a href="@data.DocumentUri">Download File</a>"
        </iframe>
    };

    private RenderFragment<string> RenderUnknowViewer = extension => __builder =>
    {
        <MudText>Document Viewer not available for extension '@extension'</MudText>
    };
}
