@inject ISnackbar Snackbar
@inject IStorageService StorageService
@inject IOptions<StorageOptions> StorageOptions

<MudPopover Open="@Visible" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
    <div class="d-flex flex-column">
        <InputFile id="fileInput" OnChange="OnInputFileChanged" hidden multiple />
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Filled.CloudUpload"
                   for="fileInput">
            Add your documents
        </MudButton>
        <MudTable Items="_files" ReadOnly="false">
            <HeaderContent>
                <MudTh>Document Name</MudTh>
                @foreach (var tag in StorageOptions.Value.Tags)
                {
                    <MudTh>@tag.SplitCamelCase().ToTitleCase()</MudTh>
                }
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Document Name">@context.Name</MudTd>
                @foreach (var tag in StorageOptions.Value.Tags)
                {
                    <MudTd DataLabel="@tag.SplitCamelCase().ToTitleCase()">@GetFileTag(context.Name, tag)</MudTd>
                }
            </RowTemplate>
            <RowEditingTemplate>
                <MudTd DataLabel="Document Name">@context.Name</MudTd>
                @foreach (var tag in StorageOptions.Value.Tags)
                {
                    <MudTd DataLabel="@tag.SplitCamelCase().ToTitleCase()">
                        <MudTextField T="string" Value="@GetFileTag(context.Name, tag)" ValueChanged="(tagValue) => SetFileTag(context.Name, tag, tagValue)" />
                    </MudTd>
                }
            </RowEditingTemplate>
        </MudTable>
        <MudToolBar DisableGutters="true" Class="d-flex flex-row flex-grow-1 justify-content-center gap-4">
            <MudButton OnClick="Upload"
                       Disabled="@(!_files.Any())"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload">
                Upload
            </MudButton>
            <MudButton OnClick="Clear" Disabled="@(!_files.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
            <MudButton OnClick="@Close" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
        </MudToolBar>

    </div>
</MudPopover>

@code {

    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    private bool Clearing = false;
    IList<IBrowserFile> _files = new List<IBrowserFile>();
    IDictionary<string, IDictionary<string, string>> _fileTags = new Dictionary<string, IDictionary<string, string>>();

    public Task Close()
    {
        return VisibleChanged.InvokeAsync(!Visible);
    }

    private IDictionary<string,string>? GetFileTags(string fileName)
    {
        _fileTags.TryGetValue(fileName, out var tags);

        return tags;
    }

    private string GetFileTag(string fileName, string tag)
    {
        if (_fileTags.TryGetValue(fileName, out var tags))
        {
            (string tagName, string tagValue) = tags.Where(t => t.Key == tag).FirstOrDefault();

            return tagValue ?? string.Empty;
        }

        return string.Empty;
    }

    private void SetFileTag(string fileName, string tagName, string tagValue)
    {
        if (_fileTags.TryGetValue(fileName, out var tags))
        {
            if (tags.ContainsKey(tagName))
            {
                tags[tagName] = tagValue;
            }
            else
            {
                tags.Add(tagName, tagValue);
            }
        }
        else
        {
            _fileTags.Add(fileName, new Dictionary<string,string>());
        }
    }

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            _files.Add(file);
        }
    }

    private async Task Clear()
    {
        Clearing = true;
        _files.Clear();
        await Task.Delay(100);
        Clearing = false;
    }

    private async Task Upload()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;

        try
        {
            using var cancellationTokenSource = new CancellationTokenSource(TimeSpan.FromSeconds(6));
            await StorageService.UploadDocuments(_files.Select(f => new UploadDocument(f.Name, f.ContentType, GetFileTags(f.Name), f.OpenReadStream(maxAllowedSize: 10485760))), CancellationToken.None);
            Snackbar.Add("Files uploaded successfully!", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Failed to upload files! Reason: {ex.Message}", Severity.Error);
        }
    }
}